#maintabs > .container {
    padding: 60px 15px 20px;
	position: relative;
	
}
main {
    padding:  5px;	
    background-color:white;
}

main > .container, main > .container-fluid
{
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container, .footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.navbar form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .navbar form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.navbar form > button.logout:focus,
.navbar form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.navbar form > button.logout:focus {
    outline: none;
}

/* style breadcrumb widget as in previous bootstrap versions */
.breadcrumb {
    background-color: var(--bs-gray-200);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

.breadcrumb-item > a
{
    text-decoration: none;
}
.has-error > div.help-block {
    color:red;    
}
.has-error > input.form-control {
    border:1px solid red;    
}


td.relazione.closed {
    height: 0px;    
}

.tabLista td.closed {
    height: 0px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.tabLista td:not(:empty) {
    /*height: 30px;*/
}

.tabLista td {
    border-left: 1px solid rgb(236, 236, 236);
    border-bottom: 1px solid rgb(236, 236, 236);
}

td.closed {
    opacity: 0;
    line-height: 0px;
    font-size: 0px;
    transition: all 0.2s ease 0s;
}

.tabLista td {
    line-height: 1.5em;
    padding: 5px;
}
td.closed div {
    display: none;
}

.divRelazione {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(205, 203, 203);
}

.divRelazione {
    margin: 15px;
    border-radius: 5px;
	width:95%;
}
.btn_minimax {
    float: right;
}
.titolo1 {
    font-weight: bold;
    font-size: large;    
}
.refresh_btn > i {
    padding: 4px;    
}
.tabs-container {
	width: 100%;
    /*border: 1px solid black;*/
    min-height: 700px;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: white;
	display:block;
}
.tab-container {
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: white;
    display: none;
	border:1px solid #dbdbdb;	
}
.tab-container.active {
	display:block;
}
.frame-container {
    width: 100%;
}
.frame-form {
    width: 100%;
}

#tabs-header > ul {
	flex-direction: row;
    list-style: none;	
    padding-left: 0px;    
	padding-bottom: 0px;
    margin-bottom: 0px;	
}
.li-tab {
    min-width: 100px;
    border: 1px solid #c1b4b4;
    min-height: 25px;
    background-color: #CCCCCC;
    display: inline-block;
    margin-left: 1px;
    text-align: center;
    padding: 3px;
	padding-left: 15px;	
	cursor:pointer;
}
.li-tab.active {
	background-color: #EEEEEE;
}
.tab-chiudi {
	margin-left:12px;
	margin-right:0px;
	color:gray;
	vertical-align: top;
}
#frame-quiz {
    height:600px;
}